{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block content %}

    {# Affichge de l'article  #}
    {% for article in item %}

        {# Si la valeur par defaut de imageName n'est plus la même alors le chemin vers l'image change #}
        {% set articleImage = article.imageName == 'https://picsum.photos/800/600' ? 'https://picsum.photos/800/600' : vich_uploader_asset(article) %}
        
        {# Formulaire de suppression d'article #}
        {% include ('articles/partials/_deleteArticle.html.twig') %}

        <div class="text-center pt-16 md:pt-32">
            <p class="subtitle md:text-base">{{ article.createdAt|date('d F Y')}}</p>
            <h1 class="h1">
                {{ article.title|capitalize}}
            </h1>
            <span class="text-sm md:text-base text-teal-500 font-bold block mt-4">par</span>
            <h3 class="h3 mt-2">
                {{ article.author.username|upper }}
            </h3>
        </div>

        <div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded" style="background-image:url('{{articleImage}}'); height: 75vh;"></div>
        <div class="container max-w-5xl mx-auto -mt-32">
            <div class="mx-0 sm:mx-6">
                <div class="bg-white w-full p-8 md:p-24 text-lg text-gray-800 leading-normal shadow-md m-5">
                    <p class="font-serif">{{ article.content }}</p>									
                </div>
            </div>
        </div>
        
        {# Partie commentaire de l'article #}
        {% include ('articles/partials/_comment.html.twig') %}
        
    {% endfor %}
{% endblock %}
