<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Projet blog pour entretien chez Uppler">
		<meta name="author" content="Florian Andrieux">
		<title>
			{% block title %}Blog - Entretien Uppler
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-gray-200 font-sans leading-normal tracking-normal">
		<nav class="bg-gray-900 p-4 mt-0 w-full">
			<div class="container mx-auto flex justify-between items-center">
				<div class="flex text-white font-extrabold">
					<a class="flex text-white text-base no-underline hover:text-white hover:no-underline" href="{{ path('home') }}">
						<span class="w-0 md:w-auto md:block pl-1">Blog</span>
					</a>
				</div>

				<div class="flex pl-4 text-sm">
					<ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
						<li class="mr-2">
							<a class="inline-block py-2 px-2 text-white no-underline" href="index.html">Connexion</a>
						</li>
						<li class="mr-2">
							<a class="inline-block text-yellow-400 no-underline hover:text-yellow-200 hover:text-underline py-2 px-2" href="{{ path('register') }}">Inscription</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block content %}{% endblock %}
		<footer class="bg-gray-900 ">
			<div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

				<div class="w-full mx-auto flex flex-wrap items-center">
					<div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
						<a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="{{ path('home') }}">
							<span class="text-base text-gray-200">Blog</span>
						</a>
					</div>
					<div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
						<ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
							<li>
								<a class="inline-block py-2 px-3 text-white no-underline" href="#">Connexion</a>
							</li>
							<li>
								<a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3" href="{{ path('register') }}">Inscription</a>
							</li>
						</ul>
					</div>
				</div>


			</div>
		</footer>
	</body>
</html>
